# Carpetas generadas por Gradle
/build/
/.gradle/

# Archivos compilados
*.class

# Logs y temporales
*.log
*.tmp
*.swp

# Configuración específica de IDE
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db